body {
    width: 100vw;
}

* {
    margin: 0;
    padding: 0;
}

.head_logo {
    height: 66px;
    width: 112px;
    margin-left: 121px;
    margin-top: 21px;
    border-radius: 0px;

}

.globe_logo {
    height: 21px;
    width: 22px;
    margin-top: 184px;
    border-radius: 0px;

}

.globe_text {
    height: 32px;
    width: 130px;
    margin-left: 8px;
    margin-top: 187px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.time_logo {
    height: 22px;
    width: 22px;
    margin-left: 25px;
    margin-top: 183px;
    border-radius: 0px;

}

.time_text {
    height: 32px;
    width: 130px;
    margin-left: 10px;
    margin-top: 187px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


}

.calendar_logo {
    height: 22px;
    width: 20px;
    margin-left: 19px;
    margin-top: 183px;
    border-radius: 0px;

}

.calendar_text {
    height: 32px;
    width: 130px;
    margin-left: 13px;
    margin-top: 187px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


}

.block_1 {
    margin-left: 122px;
}

.block_1-h1 {
    height: 190px;
    width: 628px;
    margin-top: 29px;
    border-radius: nullpx;
    font-family: Roboto Slab;
    font-size: 80px;
    font-weight: 700;
    line-height: 81px;
    letter-spacing: 0em;
    text-align: left;


}

.block_1-p {
    height: 62px;
    width: 414px;
    margin-top: 51px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.flex_container_1 {
    display: flex;
    flex-direction: column;
}

.container_1 {
    display: flex;
    flex-direction: row;
}

.referee_img {
    height: 376px;
    width: 305px;
    margin-left: 140px;
    margin-right: 245px;
    margin-top: 223px;
    border-radius: 0px;

}


.container_2 {
    height: 200.01669311523438px;
    width: 483.6349182128906px;
    margin-left: 409.3865966796875px;
    margin-top: 67.62px;
    margin-right: 546.98px;
    border-radius: 5px;


}

.flex_container_2 {
    margin-left: 121px;
    display: flex;
    flex-direction: column;
}

.container_3 {
    display: flex;
    flex-direction: row;
}

.block_3-h1 {
    height: 93px;
    width: 365px;
    margin-top: 173.36px;
    border-radius: nullpx;
    font-family: Roboto Slab;
    font-size: 55px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;

}

.block_3-p {
    height: 374px;
    width: 662px;
    margin-top: 18px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

.rejissor_img {
    height: 344px;
    width: 366px;
    margin-left: 164px;
    margin-top: 308.36px;
    margin-right: 127px;
    border-radius: 0px;

}

.container_4 {
    display: flex;
    flex-direction: row;
    margin-left: 121px;
    display: flex;
    justify-content: flex-start;
}

.rejissor_2_img {
    height: 219px;
    width: 232px;
    margin-top: 94px;
    border-radius: 0px;

}

.block_5-h1 {
    height: 39px;
    width: 150px;
    margin-left: 132px;
    margin-top: 164px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;


}

.block_5-p {
    height: 39px;
    width: 150px;
    margin-left: 132px;
    margin-top: 1px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

.block_5-h2 {
    height: 39px;
    width: 150px;
    margin-left: 95px;
    margin-top: 164px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;


}

.block_5_p2 {
    height: 39px;
    width: 150px;
    margin-left: 95px;
    margin-top: 1px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


}

.block_5_h3 {
    height: 39px;
    width: 150px;
    margin-left: 93px;
    margin-top: 164px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;


}

.block_5_p3 {
    height: 39px;
    width: 150px;
    margin-left: 93px;
    margin-top: 1px;
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;


}